In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Lok+Sabha_2019.csv')

In [26]:
df.isnull().sum()

STATE                                       0
CONSTITUENCY                                0
NAME                                        0
WINNER                                      0
PARTY                                       0
SYMBOL                                      0
GENDER                                      0
CRIMINAL CASES                             22
AGE                                         0
CATEGORY                                    0
EDUCATION                                   0
ASSETS                                     23
LIABILITIES                                22
GENERAL VOTES                               0
POSTAL VOTES                                0
TOTAL VOTES                                 0
OVER TOTAL ELECTORS IN CONSTITUENCY         0
OVER TOTAL VOTES POLLED IN CONSTITUENCY     0
TOTAL ELECTORS                              0
dtype: int64

In [3]:
df.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.00,52,ST,Basic Level,3099414.00,231450.00,376892,482,377374,25.33,35.47,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.00,54,ST,Post Graduate,18477888.00,847000.00,318665,149,318814,21.40,29.96,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.00,52,ST,Basic Level,36491000.00,15300000.00,314057,181,314238,21.09,29.53,1489790
3,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.00,58,SC,Doctorate,74274036.00,8606522.00,644459,2416,646875,33.38,56.46,1937690
4,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.00,47,SC,Post Graduate,133784385.00,22251891.00,434199,1130,435329,22.47,38.00,1937690

# 2.1. For this data, construct the following contingency tables (Keep Gender as row variable)

2.1.1. Gender and Winner

2.1.2. Gender and Education

In [5]:
pd.crosstab(df['GENDER'],df['WINNER'])

WINNER     0    1
GENDER
FEMALE   182   76
MALE    1297  463

In [7]:
pd.crosstab(df['GENDER'],df['EDUCATION'])

EDUCATION  Basic Level  Doctorate  Graduate  Illiterate  Post Graduate
GENDER
FEMALE              59         10        95           7             87
MALE               529         63       682          70            416

# 2.2. Assume that the sample is representative of the population. Based on the data, answer the following question:

2.2.1. What is the probability that a randomly selected candidate will be male?

2.2.2. What is the probability that a randomly selected candidate will be female?

In [8]:
df['GENDER'].value_counts()

MALE      1760
FEMALE     258
Name: GENDER, dtype: int64

In [9]:
print('Probability that a randomly selected candidate will be male:',1760/len(df['GENDER']))

Probability that a randomly selected candidate will be male: 0.8721506442021804

In [10]:
print('Probability that a randomly selected candidate will be female:',258/len(df['GENDER']))

Probability that a randomly selected candidate will be female: 0.1278493557978196

# 2.3. Assume that the sample is representative of the population. Based on the data, answer the following question:

2.3.1. Find the conditional probability of different education level among the male candidates.

2.3.2 Find the conditional probability of different education level among the female candidates.

In [11]:
pd.crosstab(df['GENDER'],df['EDUCATION'])

EDUCATION  Basic Level  Doctorate  Graduate  Illiterate  Post Graduate
GENDER
FEMALE              59         10        95           7             87
MALE               529         63       682          70            416

P (education | male) = P (education ∩ male)/ P(male)

P (education | female) = P (education ∩ female)/ P(female)

In [14]:
print('Among MALE candidates:')
print('Probability of Basic Level of education:',529/1760)
print('Probability of having a Doctorate:',63/1760)
print('Probability of being a graduate:',682/1760)
print('Probability of being illiterate:',70/1760)
print('Probability of being a post graduate:',416/1760)
print()
print('Among FEMALE candidates:')
print('Probability of Basic Level of education:',59/258)
print('Probability of having a Doctorate:',10/258)
print('Probability of being a graduate:',95/258)
print('Probability of being illiterate:',7/258)
print('Probability of being a post graduate:',87/258)

Among MALE candidates:
Probability of Basic Level of education: 0.30056818181818185
Probability of having a Doctorate: 0.03579545454545455
Probability of being a graduate: 0.3875
Probability of being illiterate: 0.03977272727272727
Probability of being a post graduate: 0.23636363636363636

Among FEMALE candidates:
Probability of Basic Level of education: 0.22868217054263565
Probability of having a Doctorate: 0.03875968992248062
Probability of being a graduate: 0.3682170542635659
Probability of being illiterate: 0.027131782945736434
Probability of being a post graduate: 0.3372093023255814

# 2.4. Assume that the sample is a representative of the population. Based on the data, answer the following question:

2.4.1. Find the probability that a randomly selected candidate is a male and is a winner.

2.4.2 Find the probability that a randomly selected candidate is a female and is not illiterate.

In [16]:
print("P(Winner ∩ Male) = P (Winner| Male) x P (male) = ",(463/1760) * (1760/2018))

P(Winner ∩ Male) = P (Winner| Male) x P (male) =  0.22943508424182357

In [17]:
print("P(not illiterate ∩ Female) = P (not illiterate | Female) x P (Female) = ",(251/258) * (258/2018))

P(not illiterate ∩ Female) = P (not illiterate | Female) x P (Female) =  0.12438057482656094

# 2.5. Do you think the being a winner and being a female candidate are independent events?

For 2 events to be independent, following condition is to be satified

P(A ∩ B) = P(A) * P(B)

So,
P (Winner ∩ Female) = P(Winner) * P(Female)

P(Female) = 258/2018 = 0.12784935579

P(Winner) = 539/2018 = 0.26709613478

P(Winner) * P(Female) = 0.26709613478 × 0.12784935579 = 0.03414806876

P (Winner ∩ Female) = 76/2018 = 0.03766105054

This is not independent events as probability multiplication of both events is not equal to combined event, so being a winner and being female candidate are not independent events.